<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/application.css">
    </head>
    <body>
        <div id="navbar">
            <div id="logo">LOGO</div>
            <div class="navbar-link-container">

                <a class="navbar-link" href="/spaces">Listings</a>


                <% if session[:user_id] != nil %>
                    <a class="navbar-link" href="/spaces/new">Add a space</a>
                    
                    <a class="navbar-link" href="/requests">Requests</a>

                    <a class="navbar-link" href="/account_page">Your Account</a>

                    <form class="navbar-link" action='/logout' method="post">
                    <input type="submit" value="Log out" />
                    </form>
                <% else %>
                    <a class="navbar-link" href="/login">Log in</a>
                <% end %>
                

            </div>
            
        </div>
        <%= yield %>
    </body>


</html>
