<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/application.css">
    </head>
    <body>
        <div id="navbar">
            <div id="logo">LOGO</div>
            <div class="navbar-link-container">
                <a class="navbar-link" href="/spaces/new">Add a space</a>
                <a class="navbar-link" href="/spaces">Listings</a>
                <a class="navbar-link" href="/requests">Request</a>
                

            </div>
            
        </div>
        <%= yield %>
    </body>


</html>
