<body>

    <form action="/spaces" method="GET">
        <%#AFTER USER LOGS IN, WE GET A PROMPT MESSAGE%>
        <h1> Welcome back! </h1>

        <%#FOLLOWED BY A BUTTON TO TAKE THE USER TO THE HOMEPAGE "/SPACES"%>
        <label>Join the Homepage!</label>
        <input type="submit" id="login_success" value="Join" />
    </form>

</body>