<form action="/login" method="POST">
  <label>Email:</label>
  <input type="email" id="email" name="email" />
  <label>Password:</label>
  <input type="password" name="password" name="password"/>
  <input type="submit" value="Login" />
</form>