<html>
<body>
<form action="/spaces" method="POST">
    <div>
        <label > Name of the place: </label>
        <input type="text" name="name">
    </div>
     <div>
        <label > Description: </label>
        <input type="text" name="description">
    </div>
     <div>
        <label > Price per night: £</label>
        <input type="int" name="ppn">
    </div>
     <div>
        <label > Contact Details: </label>
        <input type="text" name="contact">
    </div>
     <div>
        <input type="submit" value="List Space">
    </div>
</form>
</body>

</html>
