<form action="/sign_up" method="POST">
  <label>Name:</label>
  <input type="text" id="name" name="name" />
  <label>Email:</label>
  <input type="email" id="email" name="email" />
  <label>Password:</label>
  <input type="text" name="password" name="password"/>
  <input type="submit" value="Sign Up" />
</form>