<html>
    <body>
   
    
    <h1 class="spaces-title">Where do you want to stay?</h1>

        <div class="cards-container">


            <% @spaces.each do |space| %>
                <div class="card">
                    <a href="/spaces/<%=space.id%>">
                        <img class="cardimage" src="https://picsum.photos/200" alt="flat" >
                        <div class="text-container">
                            <h3><%= space.name %></h3>
                            <p class="price"><%= space.ppn %></p>
                        </div>
                    </a>
                </div>
            
            <% end %>
        
        </div>
    
    </body>
</html>


