<html>
    <body>
    <h1>Choose where you want to stay, or <a href="/spaces/new">list a new space</a></h1>

        <div>
        <% @spaces.each do |space| %>
            <p>
            <p> IMAGE <%=space.id%></p>
            <a href="/spaces/<%=space.id%>"><%= space.name %></a>
            </p>
        <% end %>
        
        </div>
    
    </body>
</html>