<html>
  <h2>Update Space: <%=@space.name%></h2>
  <form action="/update/<%=@space.id%>" method="post">
    <div>
      <label> Name of the place: </label>
      <input type="text" name="name" />
    <div>
      <label> Description: </label>
      <input type="text" name="description" />
    </div>
    <div>
      <label> Price per night: £</label>
      <input type="text" name="ppn" />
    </div>
    <div>
      <label> Contact Details: </label>
      <input type="int" name="contact" />
    </div>
    <div>
      <input type="submit" value="Update Space" />
    </div>
  </form>
</html>
