#navbar{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    height: 10%;
}


#logo{
    margin-left: 10px;
}

.navbar-link-container{
    margin-right: 10px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link{
    text-decoration: none;

}