html {
  padding: 100px;
  background-color: #3f72af;
}

.wrapper {
  margin: auto;
  width: 50%;
}
.imgform_container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.imgscroll {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  margin: 3px;
  scroll-snap-align: center;
}

.spaceimage {
  display: flex;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12); */
}

.bookingform {
  background-color: white;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}

input[type="text"] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="int"] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.updatespace{
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.updatespace:hover{
  background-color: #45a049;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}